.App {
  text-align: center;
  background-color: #051638;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  /* margin-bottom: 10px; */
}

.App-name {
  color: rgb(161, 161, 2);
  text-shadow: 5px 5px 10px #6b6b6d;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Joke-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;

}

.Joke-display{
  display: inline-block;
  width: 80%;
  
}

.button {
  display: inline-block;
  margin: 0px 30px; /* Adjust the spacing between buttons as needed */
}