button {
    display: inline-block;
    padding: 15px 10px;
    background-color: #02507c;
    color: #ffffff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color .5s;
    box-shadow: 0px 3px 10px #807e7e;

}
 
button:hover {
    background-color: #012438;

}
 
button:active {
    background-color: #297910;
}